<html>
    <head>
        <title>Burma Online Betting</title>

    </head>
    <body>
        <h1>
            Burma Online Betting
        </h1>
        {{ content | safe }}
    
    </body>

</html>